*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: transform 0.3s, color 0.3s, filter 0.3s, border 0.3s;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: currentColor; }
}

@keyframes zoom {
    from {background-size: 100%;}
    to {background-size: 150%;}
}

body > * {
    padding-left: 6rem !important;
}

.navbar {
    position: fixed;
    padding: 1.5rem !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-items {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.navbar-link {
    text-decoration: none;
}

.navbar-link > i {
    background-color: lightblue;
    color: black;
    aspect-ratio: 1/1;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-link > i:hover, .navbar-link > i:active, .navbar-link > i:focus {
    transform: scale(1.5);
    color: #0c5bad;
}

.first_page{
    height: 100vh;
    width: 100%;
    background-image: url("Pictures_needed/images/profile-img.jpg");
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
    background-size: 100%;
    background-position: center top;
    display: flex;
    align-items: center;
    animation: zoom 1.5s alternate-reverse ease-out;
}

.box1{
    font-size: x-large;
    padding: 0 2rem;
}

.box1 :hover{
    transition-timing-function: ease-in-out;
}
.name_work2{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
}
.design_colorBlue{
    color: #3975cb;
    /* margin-left: 0.5ch;
    margin-bottom: 1rem;
    transform: scale(1); */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #3975cb; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    margin-left: 0.5rem;
    letter-spacing: 0.12rem; /* Adjust as needed */
    animation: 
        typing 3s steps(20, end),
        blink-caret .75s step-end infinite;
}
.design_colorBlue:hover {
    transform: scale(1.2);
}
.social_media {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}

.social_media > .media-link {
    text-decoration: none;
    color: black;
    transform: scale(1);
}

.social_media > .media-link:hover {
    transform: scale(1.5);
    color: #0c5bad;
}

.second_page{
    width: 100%;
    overflow: hidden;
    background-color: beige;
    padding-bottom: 4rem;
    padding-top: 2rem;
    min-height: 100vh;

}
.about_top{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about_top > h1 {
    padding: 2rem;
    text-decoration: underline skyblue;
}
.third_page>h1{
    text-decoration: underline skyblue;
}
.portfolio-title{
    text-decoration: underline skyblue;
}
.Fifth_page>h1{
    text-decoration: underline skyblue;
}
.Sixth_page>h1{
    text-decoration: underline skyblue;
}
.contact i:hover{
    color: #0c5bad;
    transform: scale(1.1);

}
input[name="name"]:focus {
    transform: scale(1.1);
}
input[name="email"]:focus {
    transform: scale(1.1);
}
input[name="subject"]:focus {
    transform: scale(1.1);
}
textarea[name="message"]:focus {
    transform: scale(1.1);
}
.send_message:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 5px black;
}

.about_top > p{
    padding-bottom: 1rem;
    text-align: center;
}

.about_img{
    width: 27%;
    border-radius: 0.5rem;
}

.about_img:hover{
    transform: scale(1.1);
}
.About_middle{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.About_middle_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.About_middle_2{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.About_middle_3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.About_middle_3 span::before {
    --icon-space: 1.3em;
    content: "\f054"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0.3em;
    color: skyblue;
    width: var(--icon-space);
}

.uiux{
    color:#0c5bad;
}


.Sixth_page{
    background-color: white;
    width: 100%;
    padding: 2.5rem;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.contact-info {
    width: 50%;
}

.contact > div {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}

.contact > div > i {
    font-size: 1.5rem;
    background-color: lightblue;
    aspect-ratio: 1/1;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.contact-form {
    width: 100%;
}

.form {
    width: 100%;
    height: 100%;
}

.form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.25rem;
}

.form > div > input, .form > div > textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
}
.Sixth_page > h1{
    text-align: center;
}
.send_message{
    border-radius: 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0c5bad;
    color: #fff;
}
.form{
    text-align: center;
}

.footer{
    padding: 2rem;
    text-align: center;
    background-color: #d2d2d2;
}
.footer_logo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}
.footer_logo>a>i{
    border-radius: 50px;
    background-color:#09457d;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.footer_logo>a>i:hover{
    transform: scale(1.1);
}
.footer_vertical_space{
    margin: 0.5rem 0;
}
.footer_vertical_space > a{
    text-decoration: none;
    color: #09457d;
}
.footer>h1{
    margin-bottom: 0.5rem;
}

.Fourth_page {
    background-color: beige;
    padding: 2rem;
    width: 100%;
}

.portfolio-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio-title {
    padding: 2rem;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.filter-button {
    text-transform: uppercase;
    background: transparent;
    border: none;
    padding: 0.5rem;
    font-weight: 700;
}

.filter-button.is-active, .filter-button:hover {
    background-color: #3975cb;
    color: white;
    border-radius: 1rem;
}

.portfolio-images {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
.portfolio-images img:hover {
    transform: scale(1.1);
}
.column > img {
    width: 100%;
    margin: 0.1rem;
}

.Fifth_page{
    background-color: #eee;
    width: 100%;
    text-align: center;
    padding:2rem;
}

.Fifth_page > h1 {
    padding: 2rem;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}
.card:hover{
    transform:scale(1.1);
}

.card{
    width: 30%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px skyblue;
}

.card > i {
    font-size: 2rem;
    padding: 1rem;
    background-color: #eee;
    aspect-ratio: 1/1;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > i:hover{
    filter: saturate(0);
}

.card > h2 {
    font-size: 1.25rem;
    padding: 1rem;
}

.third_page_1{
    display: flex;
}

.third_page_left, .third_page_right {
    width: 50%;
    padding-left: 0.5rem;
}

.third_page_left > h1, .third_page_right > h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.third_page_left ul, .third_page_right ul {
    padding-left: 1rem;
}

.hbox {
    border-left: 0.25rem solid skyblue;
    padding-left: 1rem;
    position: relative;
}
.hbox h2{
    color: skyblue;
}
.hbox h4{
    background-color: #dedede;
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.hbox::before {
    border: 0.25rem solid skyblue;
    background-color: white;
    height: 1rem;
    width: 1rem;
    display: block;
    content: "";
    border-radius: 50%;
    position: absolute;
    left: -0.9rem;
}

.third_page {
    padding: 2rem;
}

.third_page > h1, .third_page>p {
    text-align: center;
    padding: 0.5rem;
}

.hbox *{
    padding: 0.25rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about_img{
        width: 50%;
    }
    .text{
        font-size: 14px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about_img{
        width: 33%;
    }
    .text{
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about_img{
        width: 27%;
    }
    .text{
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about_img{
        width: 25%;
    }
    .text{
        font-size: 20px;
    }
}